# Dependencies
node_modules/

# SAM / AWS
.aws-sam/
samconfig.toml.bak

# Build
dist/
build/

# Logs
logs/
*.log
npm-debug.log*

# Environment
.env
.env.*
!.env.example

# Seed (credenciales reales, no commitear)
scripts/seed-users/users.json

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

# Temp
.temp/
.tmp/
